body {
  font-family: 'IM Fell Great Primer', serif;
  margin: auto;
  text-align: center;
  padding: 40px;
}

h3 {
  font-weight: 400;
}

p {
  font-size: 22px;
}

header {
  padding-bottom: 50px;
}

img {
  width: 100%;
}

.buttons button {
  display: block;
  margin: auto;
  font-size: 22px;
}

.line {
  width: 50%;
  margin: auto;
}

.coin {
  display: inline;
  margin: auto;
  font-size: 48px;
  width: 82px;
}

.on img {
  -webkit-box-shadow: 0 0 20px red;
  -moz-box-shadow: 0 0 20px red; 
  box-shadow:0 0 20px red;
}

.coin img {
  width: 15%;
  border-radius: 100%;
}

.coins {
  padding: 40px;
}

@media screen and (max-width : 320px){
  body {
    padding: 5%;
  }
  .line {
    width: 100%;
    margin: auto;
  }
  .coin img{
    width: 30%;
  }
  h3 {
    font-size: 22px;
  }
  #explanation {
    padding: 10%;
  }
}
